ul.social {
    list-style:none;
    width: 100%;
    margin:0;
    padding:0;
    margin: auto;
    max-width: 800px;
    margin-top: 20px;
}
 
ul.social li {
    width: 20%;
    float:left;
    display:inline-block;
    font-weight: 800;
}
 
ul.social li a {
	color: #FFFFFF;
	text-decoration: none;
}
 
ul.social li a:hover {
    color: #57A3E8;
}
 
@media screen and (max-width: 800px) {
    ul.social li {
        width: 100%;
    }
}
